*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html
{
  scroll-behavior: smooth;
}
body
{
  background-color: black;
  /* background:url('D:\HAPPY\Teddy\Portfolio\download.jpeg'); */
  width: 100%;
  height: 100%;
}
.nav
{
  width: 100%;
  min-height: 1.5cm;
  border-bottom: 1px solid azure;
}
.title
{
  display: flex;
  gap: 3rem;
  align-items:end;
  width: 90%;
  justify-content: flex-end;

}
.a-tags
{
  text-decoration: none;
  color:aliceblue;
  cursor: pointer;
  transition: all 0.4s ease-in-out 0.4ms;

}
.a-tags:hover
{
  font-size: 20px;
  color: blueviolet;
}
.headline
{

  width:100%;
}

.headline-inner{
  width:90%;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  color:#FFD700;
}
#ABOUT
{
  width:100%;
  
}

.row{

  width:90%;
  margin-top:50px;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  /* gap:20px; */
}

.ABOUT-col-1{

  width:45%;
  border-right:1px solid white;
}

.Image{
  width:500px;
  height:400px;
}

.Image img{
  width:100%;
  height:100%;
  border-radius:10px;
  object-fit:cover;
  cursor:pointer;
}

.ABOUT-col-2{
  width:45%;
  color:white;

}

.top
{
  /* margin-bottom:20px; */
  /* color: aliceblue; */
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  font-size: 30px;
  /* margin-top: -10px; */
}
.right 
{
  font-size: 18px;
  font-weight: 300;
}

#SERVICES
{
 margin-top: 40px;
 width: 98%;
 height: 100%;
}
.services-list
{
 color:burlywood ;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 grid-gap: 40px;
 margin-top: 50px;
 /* font-size: 300px; */
} 
.services-list div
{
  border-radius: 10px;
  font-size: 14px;
  background-color: #262626;
  font-weight: 300;
  transition: background 0.5s, transorm 0.5s;
  
}
.services-list div i
{
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2
{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.services-list div p
{
  font-size: 15px;
}
.services-list div:hover
{
  background-color: indigo;
  transform: translateY(-10px);
}

/* <!-- ----------Portfolio--------- --> */

#PORTFOLIO
{
  margin-top: 30px;
  margin-left:auto;
  margin-right:auto;

}
.work-list
{
  color:burlywood ;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.mechg
{
 border-radius: 10px;
 position: relative;
 overflow: hidden;
}
.mechg img
{
  width: 100%;
  height: 300px;
  display: block;
  border-radius: 10px;
}

/* -----------CONTACT------ */
#CONTACT
{
  width: 100%;
 height: 100%;
}
.rodolfo
{
  width:90%;
  margin-top:50px;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  flex-direction:row;
  /* justify-content: space-between; */
}
.icons
{
  width:45%;
  margin-top: 90px;
  margin-left: -370px;
  /* margin-bottom: 30px; */
  font-size: 30px;
  color: #ababab;
  text-decoration: none;
  display: inline-block;
  transition: transorm 0.5s;
}
.icons i:hover
{
  color: red;
  transform: translateY(-5px);
}
.contact-left
{
  margin-top: 50px;
  flex-basis: 35%;
  width:45%;
  border-right:1px solid white;
  color:indianred;
  font-size: 18px;
}

.contact-right
{
  flex-basis: 60%;
  margin-top: 50px;
}
.CV 
{
  margin-top: 25px;
  margin-left: 80px;
}

.button {
  background-color: indigo;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover
{
  background-color: red;
}
.contact-right form
{
  width: 100%;
}
form input, textarea
{
  width: 100%;
  outline: none;
  border: 0;
  margin: 15px ,0;
  padding: 10px;
  background:#262626;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  /* display: block; */
  margin-bottom: 10px;
}
.copyright
{
  width: 110%;
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.copyright p
{
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}

/* ---------css for media queries------- */

/* Default styles for all screen sizes */

/* Small screens (e.g., smartphones) */
@media only screen and (max-width: 568px)
{

  .nav{
    width:100%;
  }

    .title{
      width:100%;
      gap:0.9rem;
    }
  .Image img
  {
    width: 200px;
    height: 400px;
  }
 .services-list div
 {
    background-color: #262626;
    font-weight: 300;
    transition: background 0.5s, transorm 0.5s;
 }
 .services-list div:hover
  {
   background-color: indigo;
   transform: translateY(-10px);
  }

  .contact-left p 
  {
    font-size: 15px;
    margin-top: 5px;
  }
  .ABOUT-col-2 
    {
      padding: 0%;
      margin: 0;
    }
  .right
  {
    font-size: 13px;
  }
  .contact-right form
  {
    margin-left: 20px;
    height: 300px;
    width: 300px; 
    margin-top: 20px;
  }
 .icons
 {
  display: inline-block;
  margin-left: -160px;
  display: flex;
  gap: 0.8rem;
  justify-content: space-between;
  

 }
 .icons i:hover 
 {
   color: red;
   transform: translateY(-5px);
 }
 
 .CV
 {
  margin-left: 15px;
 }
 .copyright 
  {
   width: 130%;
   
  }
}

/* Medium screens (e.g., tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for medium screens */
}

/* Large screens (e.g., desktops) */
@media only screen and (min-width: 1025px) {
  /* Styles for large screens */
}


